@page "/"

<PageTitle>Home</PageTitle>

<MudCard Elevation="24">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudAvatar Color="Color.Info" Size="Size.Large">
                <MudIcon Icon="@Icons.Custom.Brands.MicrosoftAzure" Size="Size.Large" />
            </MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>

            <MudText Typo="Typo.h6">HRCap AI Search</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <MudCarousel Class="mud-width-full"
                     BulletsColor="Color.Primary" Style="height: 15vh;"
                     AutoCycle="false" TData="Image" Context="image"
                     ItemsSource=@_images AutoCycleTime=@TimeSpan.FromSeconds(3)>
            <ItemTemplate>
                <div class="d-flex flex-grow-1">
                    <MudImage Fluid="true" Src=@image.Src Elevation="5" ObjectPosition="ObjectPosition.Center"
                              Alt=@($"{image.Alt} (generated with Bing Create).") Class="rounded-lg mx-auto my-auto" />
                </div>
            </ItemTemplate>
        </MudCarousel>

    </MudCardContent>

</MudCard>
